h1 {
	margin-bottom: 20px;
}
.wip {
	width: 100vw;
	padding: 15px;
	margin-bottom: 15px;
	background: #eac072;
}

/***********************/

.page-login .active {
	pointer-events: none;
	color: gray;
}

.page-login form {
	height: 260px;
}

/***********************/

.page-profile .form-group p{
	font-style: italic;
}