<span class="page-profile">

<h1>Edit profile</h1>

<form class="form-horizontal" ng-submit="save()">
  <div class="form-group">
    <label for="input-user-name" class="col-xs-3 control-label">Name</label>
    <div class="col-xs-9">
      <input type="text" ng-model="user.name" class="form-control" id="input-user-name">
    </div>

    <p class="col-xs-9 col-xs-offset-3">Use the name you'd like to use.</p>
  </div>

  <div class="form-group">
    <label for="input-user-facebook" class="col-xs-3 control-label">Facebook URL</label>
    <div class="col-xs-9">
      <input type="text" ng-model="user.facebook" class="form-control" id="input-user-facebook">
    </div>

    <p class="col-xs-9 col-xs-offset-3">Not fans of Facebook but helps with media and marketing.</p>
  </div>  

    <div class="form-group">
    <label for="input-user-instagram" class="col-xs-3 control-label">Instagram URL</label>
    <div class="col-xs-9">
      <input type="text" ng-model="user.instagram" class="form-control" id="input-user-instagram">
    </div>
    <p class="col-xs-9 col-xs-offset-3">Social media profiles to help us promote the thing.</p>
  </div>  

  <div class="form-group">
    <label for="input-user-email" class="col-xs-3 control-label">Email</label>
    <div class="col-xs-9">
      <input type="text" ng-model="user.email" class="form-control" id="input-user-email" disabled>
    </div>
    <p class="col-xs-9 col-xs-offset-3">Private. So that we could add you to Slack, Trello, Google Drive, etc...</p>
  </div>  

  <div class="form-group">
    <label for="input-user-phone" class="col-xs-3 control-label">Phone</label>
    <div class="col-xs-9">
      <input type="tel" ng-model="user.phone" class="form-control" id="input-user-phone">
    </div>
    <p class="col-xs-9 col-xs-offset-3">Private. In case of emergencies.</p>
  </div>  

  <div class="form-group">
    <label for="input-user-website" class="col-xs-3 control-label">Website</label>
    <div class="col-xs-9">
      <input type="text" ng-model="user.website" class="form-control" id="input-user-website">
    </div>
    <p class="col-xs-9 col-xs-offset-3">Helping to build your brand.</p>
    <p class="col-xs-9 col-xs-offset-3">If you need a simple website it's an easy job for us.</p>
  </div>  

  <div class="form-group">

    <label for="input-user-services" class="col-xs-3 control-label">Services</label>
    <div class="col-xs-9">
      <textarea ng-model="user.services" class="form-control" id="input-user-services"></textarea> 
    </div>

	 <p class="col-xs-9 col-xs-offset-3">We have exceptional network of people. Techno shamans, wizards, shapeshifters, super-connected multi-dimensional hyper-liberated uber-sovereign entities who do not conform to conventional regime of 9-5 office jobs. You are rare finds and whenever it seems beneficial we would like to employ your skills while serving humanity. One of our ideas <em>(as everything <strong>WORK IN PROGRESS</strong>)</em> we would like to experiment with offering consulting servies to other revolutionary organisations. If you feel like utilising your talent - please let us know what is your unique edge, unique asset.</p>
	 
	 <p class="col-xs-9 col-xs-offset-3">We are not a typical workplace - we are independent - we follow universal principles - we use resources that are at hand... Come and join us in this mission.</p>

	 <p class="col-xs-9 col-xs-offset-3">See also <a href="https://astralship.org/investment">investment</a> and <a href="https://astralship.org/services">services</a>.</p>

  </div>


  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-9">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>

  <a href ng-click="cancel()">cancel edits</a>

</form>

</span>